In [4]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size= "5" color="red">ch02 자료형과 연산자</font>
# 5절. 연산자
## 5.1 산술연산자 : +, -, *, /, //(몫연산자), %(나머지), **(제곱)

In [8]:
print("10의 5승 :", 10**5)
print("4/2(rufrhk tlftn) :", 4/2)
print("4//2(몫) :", 4//2)
print("4%2(나머지) :", 4%2)

10의 5승 : 100000
4/2(rufrhk tlftn) : 2.0
4//2(몫) : 2
4%2(나머지) : 0

In [17]:
# quiz 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력
num = int(input('정수를 입력하세요 :'))
result = num%2
if result:
    temp = "홀수"
else:
    temp = "짝수"
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result},  {temp}를 입력하셨군요.")

정수를 입력하세요 :10
입력하신 수는 10, 2로 나눈 나머지는 0,  짝수를 입력하셨군요.

In [19]:
# quiz 2. 정수를 입력받아 5의 배수인지 여부를 출력
num = int(input("정수를 입력하세요 :"))
result = num%5
if result:
    temp = "5의 배수가 아님"
else:
    temp = "5의 배수"
print(f"입력하신 수는 {num}, 5로 나눈 나머지는 {result}, 그럼으로 {temp}")

정수를 입력하세요 :25
입력하신 수는 25, 5로 나눈 나머지는 0, 그럼으로 5의 배수

In [45]:
# quiz 3. 국, 영, 수 점수를입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오
kor = int(input("국어 점수를 입력하세요 :"))
eng = int(input("영어 점수를 입력하세요 :"))
mat = int(input("수학 점수를 입력하세요 :"))
sum_ = kor+eng+mat
avg = sum_/3
print("국어 : {0: >3} 영어 : {1: >3} 수학 : {2: >3} 총점 : {3: >3} 평균 : {4: <3.2f}".format(kor,eng,mat,sum_,avg))

국어 점수를 입력하세요 :45
영어 점수를 입력하세요 :56
수학 점수를 입력하세요 :67
국어 :  45 영어 :  56 수학 :  67 총점 : 168 평균 : 56.00

In [49]:
print("국어:{:3d}\t영어:{:3d}\t영어:{:3d}".format(kor,eng,mat))
print("총점:{:3d}\t평균:{:<3.2f}".format(sum_,avg))

국어: 45	영어: 56	영어: 67
총점:168	평균:56.00

## 5.2 할당연산자 : =, +=, -=, *=, /=, //=, %=

In [35]:
a = 10
a += 5 #a = a+5
print("5더하기 :",a)

5더하기 :  15

In [41]:
a -= 5 # a = a-5
print("5빼기 :",a)

5빼기 : -5

In [42]:
a *= 5 # a = a*5
print("5곱하기 :",a)

5곱하기 : -25

## 5.3 논리연산자 : &(and), |(or), and, or

In [50]:
# & 논리연산자, 비트연산자
print( (10>3) & (10>5) ) #논리연산 True & True
print(12 & 1) # 비트연산 12 : 0000 1100
              #          1 : 0000 0001
              #     12 & 1 : 0000 0000

True
0

In [55]:
# and : False 로 판별되는 첫번째 항의 결과 반환
#       모든 항이 참이면 마지막 항을 반환
print(True and 1 and 3)
print(0 and True)
print(True and "abc")

3
0
abc

In [56]:
# | : 논리연산자, 비트연산자
result = False | True
print("논리연산(연산자 앞뒤에 논리형일 떄) :", result)
result = False | 3 # 0000 0000 (False)
                   # 0000 0011 (3)
print("비트연산(연산자 앞이나 뒤에 숫자일 떄) :", result)

논리연산(연산자 앞뒤에 논리형일 떄) : True
비트연산(연산자 앞이나 뒤에 숫자일 떄) : 3

In [57]:
# or : 논리연산자, 참으로 판별되는 첫번쨰 항을 반환
#      모든 항이 거짓이면, 마지막항을 반환
print(False or False or '')
print('hong' or ' ' or False)

hong

In [59]:
print(not True)

False

## 5.4 비교연산자 : >, >=, <, <=, ==(같다), !=(다르다)

In [62]:
# 비교연산자는 이항, 삼함, 사항... 다항연산자
x = 5
print((4<x) & (x<10))
print(4 < x < 10)

True
True

In [66]:
# 비교연산자(<)의 우선순위가 논리연산(&)의 우선순위보다 낮다
print((10>5) & (10>7))
print(10>5 & 10>7)   # 0101
                     # 1010
print( 10> 0 > 7)
print( 10>5 and 10>7 ) # and우선순위는 낮다

True
False
False
True

In [73]:
address = "서울"
age = 29
#print(address == "서울" & age >= 30) 에러남
print((address == "서울") & (age >= 30))
print(address == "서울" and age >= 30)
print(address != "서울" and age >= 30)

False
False
False

In [74]:
# 문자 비교 : ASCII 코드 순으로 비교 가능 : 특수문자 < 숫자 < 대문자 < 소문자
"scott" < "tiger"

True

In [75]:
"9" > "10"

True

In [76]:
"김길동" < "홍길동"

True

## 5.5 비트연산자 : &, |, ^(XOR), ~

In [ ]:
# x  y  x&y   X^Y
# 0  0   0     0
# 0  1   0     1
# 1  0   0     1
# 1  1   1     0

In [78]:
a = 15 # 1111
b = 2 # 0010
print("  a  = {0:2} : {0:04b}".format(a))
print("  b  = {0:2} : {0:04b}".format(b))
print(" a^b = {0:2} : {0:04b}". format(a^b))

  a  = 15 : 1111
  b  =  2 : 0010
 a^b = 13 : 1101

- 연산자
    - 산술연산 : + - * / // % **
    - 할당연산 : += -= *= /= //= %=
    - 논리연산 : & and | or not
    - 비교연산 : > >= < <= ++ !=
    - 비트연산 : & | ^
    - &와 |은 비교연산자보다 우선순위가 높다

# 6절. 문자열 다루기
- 문자열 슬라이싱 변수.[from:stop:step]
- len(문자열변수) : 문자갯수

- upper() : 대문자로
- lower() : 소문자로
- title() : 각 어절의 첫글자만 대문자로
- capitalize() : 첫문자만 대문자로
- count('찾을문자열') : '찾을문자열'이 몇개 들어있는지 갯수 반환
- find('찾을문자열')  : 찾을문자열이 왼쪽부터 시작하여 몇번째에 있는지 인덱스를 반환
- rfind('찾을문자열') : 찾을문자열이 오른쪽부터 시작하여 몇번째에 있는지 인덱스를 반환
        **찾을 문자열이 없으면 -1을 반환**
        cf) index('찾을문자열') : 찾을문자열의 인덱스를 반환. 찾을문자열이 없으면 **오류**(잘안씀)
- startswith('특수문자열') : 특정문자열로 시작하는지 여부
- endswith('특수문자열') : 특정문자열로 끝나는지 여부
- strip() : 좌우 공백 제거
- rstrip() : 오른쪽 공백 제거
- lstrip() : 왼쪽 공백 제거
- isdigit() : 문자열이 숫자문자열인지 여부
- islower() : 소문자문자열인지 여부
- isupper() : 대문자문자열인지 여부
- replace(oldStr, newStr) : oldStr을 newStr로 변경

In [95]:
temp = "python is easy. PYThon is smart. python"
print("1. 글자수", len(temp))
print("2. 대문자로", temp.upper())
print("3. 소문자로", temp.lower())
print("4. title :", temp.title())
print("5. capitalize :", temp.capitalize())
print("6. python이 몇번 나오는지 :", temp.count('python'))
print("7. 대소문자구분없이 python이 몇번 나오는지 :", temp.lower().count("python"))
print("7. 대소문자구분없이 python이 몇번 나오는지 :", temp.upper().count("PYTHON"))
print("7. 대소문자구분없이 python이 몇번 나오는지 :", temp.title().count("Python"))
print("8. python이 나오는 첫 index 위치 :", temp.find("python"))
print("8. python이 나오는 마지막 index 위치 :", temp.rfind("python"))
print("8. java이 나오는 마지막 index 위치 :", temp.rfind("java"))
print("8. python이 나오는 첫 index 위치 :", temp.index("python")) #인덱스는 오류가 나서 쓰지않음
#print("8. java이 나오는 마지막 index 위치 :", temp.index("java")) #인덱스는 오류가 나서 쓰지않음
print("9. python으로 시작하는지 여부 :", temp.startswith("python"))
print("9. python으로 끝나는지 여부 :", temp.endswith("python"))

1. 글자수 39
2. 대문자로 PYTHON IS EASY. PYTHON IS SMART. PYTHON
3. 소문자로 python is easy. python is smart. python
4. title : Python Is Easy. Python Is Smart. Python
5. capitalize : Python is easy. python is smart. python
6. python이 몇번 나오는지 : 2
7. 대소문자구분없이 python이 몇번 나오는지 : 3
7. 대소문자구분없이 python이 몇번 나오는지 : 3
7. 대소문자구분없이 python이 몇번 나오는지 : 3
8. python이 나오는 첫 index 위치 : 0
8. python이 나오는 마지막 index 위치 : 33
8. java이 나오는 마지막 index 위치 : -1
8. python이 나오는 첫 index 위치 : 0
9. python으로 시작하는지 여부 : True
9. python으로 끝나는지 여부 : True

In [119]:
temp = '       python is easy.     '
notdisit = '1,000,000'
num_str = '1,000'
print('11. 좌우공백제거 : [{}]'.format(temp.strip()))
print('11. 좌측공백제거 : [{}]'.format(temp.lstrip()))
print('11. 우측공백제거 : [{}]'.format(temp.rstrip()))
print('12. 숫자문자열인지 :', notdisit.isdigit())
print('13. 소문자문자열인지 :', temp.islower())
print('13. 대문자문자열인지 :', temp.isupper())
print('14. ,제거 :', notdisit.replace(',', ''))
print('14. ,제거 :', num_str.replace(',', ''))

11. 좌우공백제거 : [python is easy.]
11. 좌측공백제거 : [python is easy.     ]
11. 우측공백제거 : [       python is easy.]
12. 숫자문자열인지 : False
13. 소문자문자열인지 : True
13. 대문자문자열인지 : False
14. ,제거 : 1000000
14. ,제거 : 1000

In [120]:
temp = "홍길동   김길동 신길동 유길동"
print("space단위로 temp를 분리 :", temp.split()) #기본이 스페이스 단위로 분리

space단위로 temp를 분리 : ['홍길동', '김길동', '신길동', '유길동']

In [122]:
data = "2025-04-10"
print(" - 단위로 data를 분리(결과 : list)")
data_list = data.split("-")
print(data_list)
print("년 :", data_list[0])
print("월 :", data_list[1])
print("일 :", data_list[2])

 - 단위로 data를 분리(결과 : list)
['2025', '04', '10']
년 : 2025
월 : 04
일 : 10

In [126]:
# ' - '을 '/'로 바꾸기
temp = "Python - HTML/CSS - JavaScript - DBMS"
# temp.replace(' - ','/')
print('원 데이터 :', temp)
splited_temp = temp.split(' - ')
print('분리된 데이터 :', splited_temp)
joined_temp = '/'.join(splited_temp)
print('join된 데이터 :',joined_temp)

원 데이터 : Python - HTML/CSS - JavaScript - DBMS
분리된 데이터 : ['Python', 'HTML/CSS', 'JavaScript', 'DBMS']
join된 데이터 : Python/HTML/CSS/JavaScript/DBMS

In [127]:
str_ = 'ABC'
# str_ = ['A', 'B', 'C']

In [128]:
# 문자열이 다룰 수 있는 함수들과 변수들 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절. 시간,날짜,날짜시간 다루기

In [3]:
import datetime.datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [5]:
# datetime모듈(datetime.py)안의 datetime, date, time을 import
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [6]:
# 특정한 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 4, 7, 9, 30, 0)
thatday

datetime.datetime(2025, 4, 7, 9, 30)

In [12]:
print(thatday)
print(thatday.ctime()) # ctime() : 사람이 읽기 쉬운 형태로 변환
print("{:%y년%m월%d일 %p %I시 %M분 %S초}".format(thatday))
print(thatday.strftime("%y년%m월%d일 %p %I시 %M분 %S초"))

2025-04-07 09:30:00
Mon Apr  7 09:30:00 2025
25년04월07일 오전 09시 30분 00초
25년04월07일 오전 09시 30분 00초

In [11]:
import locale
locale.setlocale(locale.LC_TIME, 'ko_KR')

'ko_KR'

In [23]:
now = datetime.now()
print(now.strftime("%y-%m-%d(%A) %H:%M:%S"))

25-04-11(금요일) 10:21:05

In [17]:
diff = now - thatday
diff

datetime.timedelta(days=4, seconds=2738, microseconds=751732)

In [19]:
diff.days

4

## 7.2 날짜

In [30]:
someday = date(2025,9,2)
someday

datetime.date(2025, 9, 2)

In [25]:
print(someday.strftime("%y-%m-%d"))

25-09-03

In [28]:
# 오늘
today1 = datetime.now().date()
today2 = date.today()
today1 == today2

True

In [29]:
print(today1.strftime("%y년 %m월 %d일"))

25년 04월 11일

In [33]:
diff = someday - today
diff.dyas

NameError: name 'today' is not defined

## 7.3 시간

In [34]:
# 특정 시간
t = time(13,10)
t

datetime.time(13, 10)

In [35]:
print(t)
print(t.strftime)("%p %I시 %M분")

13:10:00
<built-in method strftime of datetime.time object at 0x000002B73CB4A7F0>

TypeError: 'NoneType' object is not callable

In [36]:
# 지금 시간
now_time = datetime.now().time()
now_time

datetime.time(10, 42, 54, 129675)

In [38]:
now_time.strftime("%H시 %m분 %S초")

'10시 01분 54초'

**datetime, date, time 형들을 원하는 포맷의 문자형으로 반환 : strftime()**
- %Y, %y, %m, %d, %A(요일), %p(오전/오후), %H(시), %M(분), %S(초)

# 8절. 연습문제

In [129]:
# 1.이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
# 출력형식 : 홍길동님의 나이는 23 살입니다
name = "홍길동"
age = 23
print("{}님의 나이는 {} 살입니다.".format(name,age))

홍길동님의 나이는 23 살입니다.

In [131]:
# 2.두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
num1 = int(input("정수를 입력하십시요"))
num2 = int(input("정수를 입력하십시요"))
a = num1 + num2
b = num1 - num2
c = num1 * num2
d = num1 / num2
e = num1 // num2
f = num1 % num2
print("두 정수의 [+는 {}] [-는{}] [*는 {}] [/는 {}] [//는 {}][] %는 {}] 입니다.".format(a,b,c,d,e,f))

정수를 입력하십시요8
정수를 입력하십시요4
두 정수의 [+는 12] [-는4] [*는 32] [/는 2.0] [//는 2][] %는 0] 입니다.

In [ ]:
# 3.문자열의 분리하기와 합치기 기능을 이용하여 'Hello World'가 할당된 변수를 이용하여
# 'World Hello' 로 출력하세요
str_ = 'Hello World'
split_ =

In [147]:
# 4.x = 'abcdef＇를 이용하여 bcdefa 로 출력하세요 문자 슬라이싱이용
x =  'abcdef'
result = x[1],x[2],x[3],x[4],x[5],x[0]
print(result)

('b', 'c', 'd', 'e', 'f', 'a')

In [152]:
# 5.x = ‘ abcdef' 를 이용하여 fedcba 로 출력하세요
x = 'abcdef'
result = x[::-1]
print(result)

fedcba

In [ ]:
# 6.오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 화
# 씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경
# 우 소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . C 는 섭씨 ,
# F 는 화씨
# C = (F
# 32) / 1.8
# F = (C
# 1.8) + 32

In [153]:
# 7.다음 중 변수 선언으로 잘못된 것을 모두 고르시오
# ①
# for
# ②
# 10th
# ③
# Student.name
# ④
# _1234
# 답 : 1, 2, 4

In [ ]:
# 8.다음의 코드의 실행결과는

In [ ]:
# 9.다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은
# ①
# 수식 8//2 결과 4
# ②
# 수식 8/2 결과 4
# ③
# 수식 8 **2 결과 64
# 정답 : 1

In [155]:
# 10.아래 프로그램의 결과는
#정답 : x는 정수형이고 y는 문자형이라 오류가 생김

In [163]:
# 11.split() 함수를 이용하여 str_ 의 값 중 나라 를 출력하는 프로그램을 완성하시오
str_ = "우리 나라 대한 민국"
parts = str_.split(" ")
print(parts[1])

나라