In [172]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size= "5" color="red">ch03 데이터구조</font>
- 리스트[], 튜플(), 딕셔너리{}, 셋

# 1절. 리스트
## 1.1 리스트 만들기

- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리 할 수 있음
- list(리스트로 변환 가능한 자료) 함수 이용도 가능 
- 인덱스 : 각 요소의 위치, 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱( [from:stop:step] ) : 부분 데이터셋 추출
- 인데스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [2]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [3]:
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])

['banana', 'apple', 'orange', 'grape']
banana
apple
orange
grape

In [4]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [5]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x={x}')
print(f'y={y}')
print(f'z={z}')
print(fruits)

x=mango
y=apple
z=orange
['mango', 'apple', 'orange']

In [6]:
# range(from, to, by) : from부터 to앞까지 by씩 증가하면서 지정된 범위의 정수
        # from 생략시 : 0
        # by 생량시 : 1
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [9]:
# 반복문(3회)
for i in range(3):
    print(i)

0
1
2

In [10]:
fruits = ['banana', 'apple', 'orange', 'grape']
# len(fruits) : 리스트 데이터 수
for i in range(len(fruits)):
    print("{} 번째 과일은 {}입니다" .format(i, fruits[i]))

0 번째 과일은 banana입니다
1 번째 과일은 apple입니다
2 번째 과일은 orange입니다
3 번째 과일은 grape입니다

In [11]:
for i in [fruits]:
    print(i)

['banana', 'apple', 'orange', 'grape']

In [12]:
for idx, value in [[0, 'banana'],[1, 'apple'], [2,'orange'], [3,'grape']]:
    print("{} 번째 과일은 {}입니다" .format(idx, value))

0 번째 과일은 banana입니다
1 번째 과일은 apple입니다
2 번째 과일은 orange입니다
3 번째 과일은 grape입니다

In [13]:
# enumerate(나열가능한 자료) : -> (index,값)들의 셋들
for idx, value in enumerate(fruits):
    print("{} 번째 과일은 {}입니다" .format(idx, value))

0 번째 과일은 banana입니다
1 번째 과일은 apple입니다
2 번째 과일은 orange입니다
3 번째 과일은 grape입니다

In [14]:
list(enumerate(fruits))

[(0, 'banana'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [15]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, "2", 3, [4,5,6]]
print(numbers)
print(numbers[1])
print(numbers[4][1])

[0, True, '2', 3, [4, 5, 6]]
True
5

In [17]:
#2차원 리스트
#numbers_2d = [[90,91,92],[80,81,82],[70,71,72]]
numbers_2d = [[90,91,92,94],
              [80,81,82,84],
              [70,71,72,76]]
len(numbers_2d), len(numbers_2d[0])

(3, 4)

In [6]:
for i, row in enumerate(numbers_2d):
    for j, value in enumerate(row):
        print("{}행 {}열:{}".format(i,j,value), end='\t')
    print() #개행

NameError: name 'numbers_2d' is not defined

In [7]:
for i in numbers_2d:
    for item in i:
        print(item, end='\t')
    print()

NameError: name 'numbers_2d' is not defined

## 1.2 기본 정보 조회

In [18]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100,0],
              [9, 100, 1, 2, 3],
              [50, 54]]

In [19]:
#요소의 수
print(len(numbers), len(numbers_2d))

5 3

In [21]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [23]:
# 2차원 list의 min() : 0번 인덱스 요사가 가장 작은 값
#             max() : 0번 인덱스 요소가가장 큰 것
min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [34]:
# 문자 리스트일 경우 ascii 코드값으로 min() max() 적용
fruits = ['mango', 'apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [33]:
numbers = [1, 12, 3, 5, 4]
# 정렬(오름차순, 내림차순)
print("오름차순 :",sorted(numbers))
print("내림차순 :",sorted(numbers, reverse=True))
print('sorted함수 사용시 리스트 내용이 바뀌지 않음 :', numbers)
print('합 :',sum(numbers))

오름차순 : [1, 3, 4, 5, 12]
내림차순 : [12, 5, 4, 3, 1]
sorted함수 사용시 리스트 내용이 바뀌지 않음 : [1, 12, 3, 5, 4]
합 : 25

## 1.3 요소 추가
```
+ : 두 리스트 연결
* : 리스트를 곱한 수만 반복
append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번쨰 인덱스 위치에 추가(기존 데이터는 shift)
```

In [36]:
# 연결
numbers = [1,2,3]
numbers = numbers+numbers
numbers

[1, 2, 3, 1, 2, 3]

In [40]:
# 반복
numbers = [1,2,3]
print(numbers *3)
print(3 * numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [38]:
# 추가
numbers = [1,2,3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [46]:
# 맨 뒤에 하나의 요소로 추가
numbers.append([5,6,7])
print(numbers)

[1, 2, 3, [5, 6, 7], [5, 6, 7]]

In [47]:
# 요소별로 각기 추가
num = [1,2,3]
num.extend([4,5,6])
print(num)

[1, 2, 3, 4, 5, 6]

In [48]:
# 중간에 추가
num.insert(2, 'x')
print(num)

[1, 2, 'x', 3, 4, 5, 6]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
                    ※찾을데이터가 없을 경우 오류
- count(찾을데이터) : 리스트에서 찾을 데이터의 갯수 반환

In [53]:
numbers = [1,2,3,[1,2,3],1,2,3]
numbers.count(2),numbers.count(9)

(2, 0)

In [55]:
numbers.index(2) # 0번쨰 인덱스부터 2가 처음나오는 인덱스를 반환

1

In [56]:
numbers.index(2,3) # 3번째 인덱스부터 2가 처음 나오는 인덱스를 반환

5

In [59]:
if numbers.count(9):
    numbers.index(9)
else:
    print('9가 없음')

9가 없음

In [61]:
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 없음')

9가 없음

In [60]:
9 in numbers #numbers 리스트에 9가 존재하는지 여부

False

In [63]:
def safe_index(lst,data):
    if data in lst: #Lst 안에 data 있는지 여부
        return lst.index(data)
    else:
        return -1

In [66]:
safe_index(numbers,9)

-1

In [68]:
# numbers.index #에러
# numbers[20] #에러
numbers[:20]

[1, 2, 3, [1, 2, 3], 1, 2, 3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : 리스트에서 원하는 인덱스의 데이터를 추출 (인덱스 범위 벗어나도 에러 안 남)
   - [from:stop:step] 프롬부터 스톱앞까지 스텝씩 증가하는 인덱스의 값을 추출
   - 프롬 생략시 처음, 스톱 생략시 끝까지, 스텝 생략시 1 모두 생략 가능
   - 음수 인덱스 가능
   
2. <font color="red">리스트 컴프리헨션</font> : 리스트에서 원하는 데이터 추출

In [70]:
numbers = [1,3,5,9,10,12,13,20]
# 짝수번쨰 인덱스 값 출력
print(numbers[::2])
# 거꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [80]:
numbers = [1,3,5,9,10,12,13,20]
# 리스트에서 모든 데이터를 변수에 담아 출력하시요
result = []
for data in numbers:
    result.append(data)
print(result)


# 리스트에서 짝수 데이터만 출력
result = []
for data in numbers:
    if data % 2 == 0:
        result.append(data)
result

[1, 3, 5, 9, 10, 12, 13, 20]

[10, 12, 20]

**리스트컴프리헨션**

In [81]:
# numbers의 모든 데이터를 리스트머프리헨션으로 추출
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 20]

In [82]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers if data%2==-0]

[10, 12, 20]

In [112]:
# ex1. numbers에서 10이상만 추출
numbers = [1,3,5,9,10,12,13,20]
[data for data in numbers if data>=10]

[10, 12, 13, 20]

In [101]:
# ex2. fruits에서 5글자가 넘는 과일만 추출
fruits = ['orange','apple','mango','kiwi']
[data for data in fruits if len(data)>5]

['orange']

In [118]:
# ex3.3이상의 요소들의 제곱을 추출
L = [1,2,3,4,5]
[data**2 for data in L if data>=3]

[9, 16, 25]

## 1.6 요소 수정하기

In [13]:
numbers = [0,1,2,3,4,5,6,7,8,9]
# 인덱스를 이용해서 특정 요소 수정
numbers[2]=222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [14]:
# 슬라이싱을 이용해서 요소 수정 (setp 부분이 미포함 : 부분 리스트가 통쨰로 수정)
numbers[1:3] = ['x','y','z','ㅋ']
numbers

[0, 'x', 'y', 'z', 'ㅋ', 3, 4, 5, 6, 7, 8, 9]

In [12]:
# 슬라이싱을 이용해서 요소 수정(step부분 포함 ; 요소 갯수가 맞아야 함)
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[::2] = ['x','y','z','r','q']
numbers

['x', 1, 'y', 3, 'z', 5, 'r', 7, 'q', 9]

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx 번째 요소가 반환되고 삭제
- remove(지울데이터) : 리스트 안의 데이터가 삭제
- del 변수[idx] : idx번째 요소가 삭제

In [19]:
numbers = [1,2,3,4,5]
delete_data = numbers.pop()

print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data, numbers))

delete_data2 = numbers.pop(0)

print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data2, numbers))

del numbers[2]
print("numbers :", numbers)

삭제된 데이터 : 5, 리스트 : [1, 2, 3, 4]
삭제된 데이터 : 1, 리스트 : [2, 3, 4]
numbers : [2, 3]

In [24]:
numbers = [1,2,3,4,5]
del_num = numbers.remove(3) # remove()는 반환값이 없고, 해당 데이터만 삭제, 해당데이터가 없으면 오류
print(numbers)

[1, 2, 4, 5]

In [28]:
numbers.remove(9) #없는 값이라 오류

ValueError: list.remove(x): x not in list

In [27]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터가 없습니다')

해당 데이터가 없습니다

In [34]:
def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, '삭제완료')
    else:
        print(f'{remove_data}는 없는 아이템입니다')

In [35]:
safe_remove(numbers, 9)
safe_remove(numbers, 5)

9는 없는 아이템입니다
5 삭제완료

In [36]:
numbers

[1, 2, 4]

## 1.8 정렬하기

In [27]:
numbers = [1,9,5,0,8]
print('numbers는 변경하지 않고 정렬 :', sorted(numbers, reverse=True))
print('numbers :', numbers) # numbers 자체가 변하지는 않음

numbers는 변경하지 않고 정렬 : [9, 8, 5, 1, 0]
numbers : [1, 9, 5, 0, 8]

In [5]:
numbers.sort() #numbers 자체가 정렬한 경과로 바뀜(기본정렬 : 오름차순)
numbers

[0, 1, 5, 8, 9]

In [23]:
numbers.reverse() # numbers 자체가 역순으로 변경
numbers

[8, 0, 5, 9, 1]

In [29]:
lst = [2,5,9]
# lst.reverse()
lst = lst[::-1]
lst

[9, 5, 2]

## 1.9 복제하기

In [35]:
# 스칼라 데이터의 복제
i = 10        # 원본
copy_i = i    # 복제본
print(f'원본={i}, 원본주소={copy_i}, 복사본주소={id(copy_i)}')
copy_i = 99
print(f'원본={i}, 원본주소={copy_i}, 복사본주소={id(copy_i)}')

원본=10, 원본주소=10, 복사본주소=2071821746704
원본=10, 원본주소=99, 복사본주소=2071821749552

In [43]:
# 리스트(배열, 데이터프레임, 딕셔너리)의 복제(원본이 수정됨으로 절대 안됨)
numbers = [5,8,1] # 원본
new_numbers = numbers # 복제본
new_numbers[0] = 9
print('원본 :', numbers)
print('복제본 :', new_numbers)

원본 : [9, 8, 1]
복제본 : [9, 8, 1]

In [89]:
# 얕은 복사(할당) 문제 사용하지 않음
numbers = [5,8,1] # 원본
new_numbers = numbers # 얕은 복사(할당)
print(f'원본={numbers}, 복제본={new_numbers}')
print(f'원본주소={id(numbers)}, 복제본주소={id(new_numbers)}')
new_numbers[0] = -99
new_numbers.sort()
print('\n**복제본만 수정**\n')
print(f'원본={numbers}, 복제본={new_numbers}')
print(f'원본주소={id(numbers)}, 복제본주소={id(new_numbers)}')

원본=[5, 8, 1], 복제본=[5, 8, 1]
원본주소=2071944165248, 복제본주소=2071944165248

**복제본만 수정**

원본=[-99, 1, 8], 복제본=[-99, 1, 8]
원본주소=2071944165248, 복제본주소=2071944165248

In [88]:
# 깊은 복사(복제)
numbers = [5,8,1] # 원본
new_numbers = numbers.copy() # 깊은 복사(복제)
print(f'원본={numbers}, 복제본={new_numbers}')
print(f'원본주소={id(numbers)}, 복제본주소={id(new_numbers)}')
new_numbers[0] = -99
new_numbers.sort()
new_numbers.remove(-99)
print('\n**복제본만 수정**\n')
print(f'원본={numbers}, 복제본={new_numbers}')
print(f'원본주소={id(numbers)}, 복제본주소={id(new_numbers)}')

원본=[5, 8, 1], 복제본=[5, 8, 1]
원본주소=2071944162112, 복제본주소=2071943045312

**복제본만 수정**

원본=[5, 8, 1], 복제본=[1, 8]
원본주소=2071944162112, 복제본주소=2071943045312

In [94]:
numbers.clear() # 리스트의 요소를 모두 삭제
numbers

[]

# 2절 튜플
- 리스트와 유사하지만, 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정 불가함으로, 튜플에 데이터 수정, 추가, 삭제 불가 (제공되는 함수도 많지 않음)
- (), tuple() 이용해서 생성

In [60]:
# city = ('서울','부산','인천','목포')
# 파이썬은 여러개의 값이 전달될 떄, 튜플 타입으로 전달
city = '서울','부산','인천','목포'
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천', '목포')

In [62]:
a,b = 10,12
a,b

(10, 12)

In [65]:
# city = ['서울','부산','인천','목포']
city = ('서울','부산','인천','목포')
' = '.join(city)

'서울 = 부산 = 인천 = 목포'

In [70]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(l),l)

<class 'list'> ['서울']

In [72]:
t = ('서울',) # 요소가 하나 있는 튜블 ( , 반드시 기입 , 가 없을시 튜플이 안됨)
print(type(t),t)

<class 'tuple'> ('서울',)

In [95]:
numbers = (1,2,3)
# numbers.remove() 수정하기 위한 함수는 제공되지 않음
# numbers.append()
# numbers.pop()
# numbers.sort()
min(numbers),max(numbers),sum(numbers),sorted(numbers, reverse=True)

(1, 3, 6, [3, 2, 1])

In [96]:
numbers = (0,1,2,(1,2),0,1,2)
numbers.count(2), numbers.count(9)

(2, 0)

In [97]:
if 9 in numbers:
    numbers.index(9)
else:
    print('9 요소가 없음')

9 요소가 없음

In [3]:
from safe import safe_index
numbers = (0,1,2,(1,2),0,1,2)
safe_index(numbers, 9),safe_index(numbers, 2)

(-1, 2)

In [4]:
numbers * 3 # 반복

(0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2)

In [14]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 출력
numbers = (1,2,3,4,5,6)
tuple([num**2 for num in numbers if num%2 == 0])

(4, 16, 36)

# 3절. 딕셔너리
- 중괄호{}를 이용해서, 키(key)-값(value) 쌍으로 구성된 자료구조
- 키는 중복불가(유일한 값). 키에 list는 사용 불가. 
- 값은 중복가능
- 인덱스를 이용한 참조 지원 안함

In [18]:
dic = {'name':'홍길동',1:22,(1,2):[1,2]}
print(type(dic))
print(dic)
print('데이터 갯수 :', len(dic))

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}
데이터 갯수 : 3

In [21]:
my_favorite = {'fruit':'apple','numbers':12,'sport':'golf'}

In [24]:
print(my_favorite['fruit'])
print(my_favorite.get('fruit')) # ★

apple
apple

In [26]:
print(my_favorite['people']) # 없는 키값을 인덱스 방식으로 참조시 에러

KeyError: 'people'

In [30]:
print(my_favorite.get('people')) # 없는 키를 get함수로 참조시 None
print(my_favorite.get('people','-')) # 없는 키를 get 함수로 참조시 두번쨰 입력값 출력

None
-

In [62]:
# 딕셔너리 수정
my_favorite = {'fruit':'apple','number':12,'sport':'golf'}
my_favorite['fruit'] = 'mango'
print('fruit 수정 후 :', my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}

In [63]:
# 딕셔너리 수정(추가)
my_favorite = {'fruit':'apple','number':12,'sport':'golf'}
my_favorite['people'] = '홍길동'
print('fruit 수정 후 :', my_favorite)

fruit 수정 후 : {'fruit': 'apple', 'number': 12, 'sport': 'golf', 'people': '홍길동'}

In [64]:
# 딕셔너리 수정(제거)
del my_favorite['fruit']
print('fruit 수정 후 :', my_favorite)

fruit 수정 후 : {'number': 12, 'sport': 'golf', 'people': '홍길동'}

In [65]:
# 딕셔너리 수정(pop)
remove_data = my_favorite.pop('number')# numbers 키의 값을 반환하고 제거
print('remove_data :', remove_data)
print('numbers 수정 후 :', my_favorite)

remove_data : 12
numbers 수정 후 : {'sport': 'golf', 'people': '홍길동'}

In [66]:
# for문을 이용한 튜플(리스트) 출력
my_tup = ('홍길동',30,'010-9999-9999')

In [67]:
for data in my_tup:
    print(data, end='\t')
print()
for idx in range(len(my_tup)):
    print(f'{idx}번쨰 {my_tup[idx]}', end='\t')
print()
for idx, value in enumerate(my_tup):
    print(f'{idx}번쨰 {value}', end='\t')

홍길동	30	010-9999-9999
0번쨰 홍길동	1번쨰 30	2번쨰 010-9999-9999
0번쨰 홍길동	1번쨰 30	2번쨰 010-9999-9999

In [45]:
my_dic = {'name':'홍길동','age':30,'tel':'010-9999-9999'}

In [49]:
# 매우비추
for key in my_dic:
    print(my_dic[key], end='\t')

홍길동	30	010-9999-9999

In [52]:
for data in my_dic.values():
    print(data, end='\t')

홍길동	30	010-9999-9999

In [53]:
my_dic.values() # 값만 추출

dict_values(['홍길동', 30, '010-9999-9999'])

In [54]:
my_dic.keys() # 키만 추출

dict_keys(['name', 'age', 'tel'])

In [55]:
my_dic.items() # (키-값)쌍을 추출

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [57]:
for key, value in my_dic.items():
    print(f'{key}:{value}', end='\t')

name:홍길동	age:30	tel:010-9999-9999

In [69]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [108]:
for idx, (key, value) in enumerate(my_dic.items()):
    print('{}.{:4} : {}'.format(idx+1, key, value))

1.name : 홍길동
2.age  : 30
3.tel  : 010-9999-9999

In [70]:
'홍길동' in my_dic #my_dic.keys()

False

In [71]:
'홍길동' in my_dic.values()

True

In [72]:
# 앝은 복사
my_favorite = {'fruit':'apple','number':12} #원본
new_favorite = my_favorite # 복제본(얕은복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12, 'people': '홍길동'}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

In [73]:
#깊은 복사
my_favorite = {'fruit':'apple','number':12} #원본
new_favorite = my_favorite.copy() # 복제본(얕은복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

# 4절. 셋
- 중복을 허용하지 않는 집합(순서없음 == 인덱스없음)
- 중괄호{} 나 set()함수를 이용해서 셋 생성
- 추가 : add(), updata()
- 집합연산자 : &, |, -
- 삭제 : remove()

In [75]:
fruits = {'banan','orange','banan','banan','apple'}
fruits

{'apple', 'banan', 'orange'}

In [77]:
s1 = set([1,20,1,21,1,22])
s1

{1, 20, 21, 22}

In [79]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할 때는 kry만 적용
my_favorite = {'fruit':'apple','number':12}
set(my_favorite)

{'fruit', 'number'}

## 추가하기
- add() : 기본자료형, 튜플데이터를 하나의 요소로 추가할 경우
- update() : 리스트, 튜플, 딕셔너리, 셋 요소 하나하나씩 추가할 경우. dict사용시 key만 추가

In [110]:
s2 = {1,1,2,3}
s2.add(4)
s2.update([5,6,7])
s2

{1, 2, 3, 4, 5, 6, 7}

In [111]:
# 논리값 False는 False, 0으로 인식
# 논리값 True는 True, 1로 인식
s = {1,2,3}
s.add(False)
s.add(True)
s.add(0)
s

{False, 1, 2, 3}

In [112]:
s.remove(True)
s

{False, 2, 3}

## 연산: &(교집합) |(합집합) -(차집합)
- &,|:집합연산자,논리연산자,비트연산자

In [93]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print('s1 | s2 =', s1|s2)
print('s1 & s2 =', s1&s2)
print('s1 - s2 =', s1-s2)

s1 | s2 = {1, 2, 3, 4, 5, 6, 7}
s1 & s2 = {3, 4, 5}
s1 - s2 = {1, 2}

# 5절. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 떄 사용함수
- 리스트, 튜플, 셋, 딕셔너리를 for 문에 사용시

In [98]:
names = {'길자','길동','영자'}
for name in names:
    print(name, end='\t')

길자	길동	영자

In [107]:
for no, name in enumerate(names):
    print(f'{no}.{name}')

0.길자
1.길동
2.영자

In [118]:
names = ['순자','길동','길자']
tels = ['010-9999-9999','010-8888-8888','010-7777-7777']
adds = ['서울','인천','판교']

for idx in range(len(names)):
    print('{}. {}의 연락처는 {}고 {}에 살아요'.format(idx+1, names[idx], tels[idx], adds[idx]))

1. 순자의 연락처는 010-9999-9999고 서울에 살아요
2. 길동의 연락처는 010-8888-8888고 인천에 살아요
3. 길자의 연락처는 010-7777-7777고 판교에 살아요

In [121]:
list (zip(names,tels,adds))

[('순자', '010-9999-9999', '서울'),
 ('길동', '010-8888-8888', '인천'),
 ('길자', '010-7777-7777', '판교')]

In [123]:
for name, tel, add in zip(names, tels, adds):
    print(f'{name} : {tel} - {add}')

순자 : 010-9999-9999 - 서울
길동 : 010-8888-8888 - 인천
길자 : 010-7777-7777 - 판교

In [124]:
list(enumerate(zip(names, tels, adds)))

[(0, ('순자', '010-9999-9999', '서울')),
 (1, ('길동', '010-8888-8888', '인천')),
 (2, ('길자', '010-7777-7777', '판교'))]

In [127]:
for idx, (name, tel, add) in enumerate(zip(names,tels,adds)):
    print('{}. {} : {} - {}'.format(idx+1, name, tel, add))

1. 순자 : 010-9999-9999 - 서울
2. 길동 : 010-8888-8888 - 인천
3. 길자 : 010-7777-7777 - 판교

변수가 담을 수 있는 기본 자료형들
```
![자료형들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)
```
<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
     width="500"
     style="float:left">

# 6절. 연습문제
## 실습형

In [134]:
numbers = [1,2,3,4,5,6,7,8,9,10]
#1. 숫자 100을 맨 뒤에 추가하세요
numbers.append(100)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [135]:
#2. 다음 리스트를 numbers리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]
numbers.extend(data)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [136]:
# 3.처음 다섯 개 숫자만 출력하세요
print(numbers[:5:])

[1, 2, 3, 4, 5]

In [139]:
# 4.리스트에서 짝수 번째 데이터만 출력하세요
print(numbers[::2])

[1, 3, 5, 7, 9, 100, 300, 500]

In [150]:
# 5.짝수번째 데이터를 모두 0 으로 바꾸세요
numbers[::2] = [0] * len(numbers[::2])
print(numbers)

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

In [148]:
# 6.데이터를 역순으로 나열하세요 (내림차순 정렬이 아닙니다)
numbers[::-1]

[0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [ ]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요
# member _info =={"name":“ 홍길동 ”, “age ”:20, "address" : "서울시 마포구", “score ” : 90}

In [174]:
# 7.address 값을 출력하세요
member_info = {'name':'홍길동','age':20, 'address':'서울시 마포구','score':90}
print(member_info.grt('address'))

AttributeError: 'dict' object has no attribute 'grt'

In [158]:
# 8.score 를 출력하고 member_info 딕셔너리에서 삭제하세요
remove_data = member_info.pop('score')
print(remove_data)
print(member_info)

90
{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [161]:
#9. address 를 서울시 서대문구 로 변경하세요
result = member_info['address']='서울시 서대문구'
result

'서울시 서대문구'

In [171]:
# 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요
print(list(member_info.items()))

[('name', '홍길동'), ('age', 20), ('address', '서울시 서대문구')]

## 서술형

In [ ]:
# 1.다음 코드를 실행했을 때 출력되는 것은
# L1 = (“orange”,”apple”,”banana”,”kiwinew_
# list= i for i in L1 if len i )>
# print(new_list)
# 
#['orange''banana']

In [ ]:
# 2.다음 코드와 실행결과가 잘못 짝지어진 것은
# 2번

In [ ]:
# 3.다음 구문에 의해 출력되는 것은
# 1

In [ ]:
# 4.다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은
# extend

In [ ]:
# 5.다음 구문을 실행할 때 결과는
# 0,1,0,3,0,5,0,7,0,9

In [ ]:
# 6.다음 구문을 실행할 때 결과는
# 6,8

In [ ]:
# 7.다음 구문을 실행할 때 결과는
# 0,2,4

In [ ]:
# 8.다음 데이터에서 10 을 출력할 수 없는 구문은
# 1번

In [ ]:
# 9.다음 프로그램의 결과를 출력하시오

# apple
# banana
# orange

In [ ]:
# 10.다음 프로그램의 결과를 출력하시오
# 3

In [ ]:
# 11.파이썬에서 함수를 만들기 위해 선언하는 단어는
# 답 def