In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font size= "5" color="red">ch05 함수</font></b>
- 사용할 코드를 묶어놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는 것) 파이썬사용불가
- 함수 정의
```
def 함수명([매개변수1, 매개변수2,...... 매개변수n])
    명령어1
    명령어2
    명령어n
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [8]:
# 함수 정의
def my_message(x,msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [10]:
# 함수 사용
my_message(3,"개구리")

개구리
개구리
개구리

In [11]:
my_msg = my_message
my_msg(2,'청개구리')

청개구리
청개구리

In [13]:
type(my_message),type(my_msg)

(function, function)

In [19]:
print() #파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)

In [21]:
my_message(2,'황소개구리')

황소개구리
황소개구리

In [22]:
my_message = 5

In [23]:
my_message

5

In [27]:
del my_message
#변수를 삭제해도 함수 사용 불가(파이썬 내장함수가 아니라서)

NameError: name 'my_message' is not defined

In [6]:
# 함수 정의
def my_hello():
    print('hello, Python')
    print('hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')

In [8]:
# 함수사용 = 함수호출
my_hello(2)

Hello, Python
Hello, Python

In [9]:
my_hello

In [10]:
__name__

'__main__'

In [11]:
if __name__ =='__main__':
    my_hello(2)

Hello, Python
Hello, Python

In [1]:
import ch05 # ch05모듈을 load

In [3]:
ch05.my_hello(1)

Hello, Python

In [4]:
from ch05 import my_hello # ch05모듈안의 my_hello load

In [5]:
my_hello(2)

Hello, Python
Hello, Python

## 1.2 docstring

In [8]:
def my_function():
    '''
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift + tab 으로 독스트링을 볼 수 있음)
    '''
    pass

In [ ]:
my_function()

In [10]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift + tab 으로 독스트링을 볼 수 있음)

In [11]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [12]:
fibonacci(20)

0 1 1 2 3 5 8 13

## 1.3 지역변수(local var)와 전역변수(global var)

In [16]:
global_var = 100 # 전역변수
def func1():
    print('함수 안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수 안 : 100
함수 밖 : 100

In [18]:
def func2():
    local_var = 200 # 지역변수
    print('함수 안 :', local_var)
func2()
print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [20]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수(변수 선언과 할당)
    print('함수 안 :', g_var)
func3()
print('함수 밖 :', g_var)

함수 안 : 200
함수 밖 : 100

In [28]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4():
    print('함수 안 g_var :', g_var)
#     g_var = 200 # 지역변수
func4()
print('함수 밖 g_var :', g_var)

함수 안 g_var : 100
함수 밖 g_var : 100

In [27]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4():
    global g_var # func4함수내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200 # 전역변수
func4()
print('함수 밖 g_var :', g_var)

함수 안 g_var : 100
함수 밖 g_var : 200

## 1.4 값에 의한 호출 
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [30]:
foo = 'a' # 전역변수
id(foo)

1916339971888

In [37]:
def func1(f):# 매개변수 f는 지역변수
    print(f, ' id(f) ', id(f))
    f = f*3
    print(f, ' id(f) ', id(f))
func1(foo)

a  id(f)  1916339971888
aaa  id(f)  1916422375344

In [38]:
print(foo)
print(id(foo))

a
1916339971888

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [33]:
L = [1,2,3]
id(L)

1916460276736

In [39]:
def func2(f): #매개변수는 지역변수
    print(f, ' id(f) ', id(f))
    f.append(4)
    print(f, ' id(f) ', id(f))
func2(L)

[1, 2, 3, 4]  id(f)  1916460276736
[1, 2, 3, 4, 4]  id(f)  1916460276736

In [41]:
print(L, ' id(L) ', id(L))

[1, 2, 3, 4, 4]  id(L)  1916460276736

# 2절. 함수의 실행결과를 반환하는 return

In [57]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의피보나치 수열을 출력
    ex. n= 10이면 0 1 1 2 3 5 8을 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행
    
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의피보나치 수열을 리스트로 return
    ex. n= 10이면 [0 1 1 2 3 5 8]을 return    
    '''
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [58]:
x = fibonacci_return(100)
print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [59]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [60]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [65]:
x, y = 5, 10
print(f'함수 실행 전 x = {x}, y = {y}')
x, y = swap(x, y)
print(f'함수 실행 후 x = {x}, y = {y}')

함수 실행 전 x = 5, y = 10
함수 실행 후 x = 10, y = 5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [68]:
def make_url(ip, port=80): # 순서인수 => 기본값을 갖는 매개변수
    return 'http://{}:{}'.format(ip, port)

In [71]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 갖는 매개변수
- 기본 변수가 스칼라 변수일 때 
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [77]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 떄 : arg의 기본값은 함수가 정의 되는 시점의 값
def func2(arg=i):
    print('arg =', arg)

In [78]:
i = 50
func2()

arg = 5

In [1]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터구조)일 떄 : list_의 기본값은 
def func3(data, L = list_):
    'data를 L에 append'
    L.append(data)
    return L

In [2]:
print(func3(10)) # list_가 수정 : [10]

[10]

In [3]:
print(func3(20))

[10, 20]

In [4]:
list_

[10, 20]

In [5]:
def func4(data, L = None):
    if L==None:
        L = []
    L.append(data)
    return L

In [6]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [ ]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않습니다.
def add(a,b):
    return

In [ ]:
add(1,2,3,4,5,6)

In [9]:
# *args : 매개변수들을 하나의 튜플변수 args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
#     print(args)
    result_tot = 0
    for data in args:
        result_tot += data
    return result_tot

In [11]:
print(add(1,2,3))
print(add(1,2,3,4))
print(add(1,2,3,4,5,6,7))
print(add(1,2,3,6))

6
10
28
12

In [13]:
subject = ('Python','Oracle','DL','ML','/') 
'/'.join(subject)

'Python/Oracle/DL/ML//'

In [28]:
def concat(*subject, sep):
    return sep.join(subject)

In [29]:
concat('Python','Oracle','DL','ML',' / ')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [30]:
# 해결책 1 : 매개변수 이름을 지정해서 호출 (잘못만든 함수)
concat('Python','Oracle','DL','ML', sep = ' / ')

'Python / Oracle / DL / ML'

In [31]:
# 해결책 2 : 기본값을 갖는 반드시 갖는 키워드 인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [34]:
concat('Python','Oracle','DL','ML', sep = ' / ')

'Python / Oracle / DL / ML'

In [42]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [43]:
concat(' / ','Python','Oracle','DL','ML')

'Python / Oracle / DL / ML'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아가서 가변 키워드 인수 처리

In [56]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print('이름 :', kwargs.get('name','개구리'))
    print('나이 :', kwargs.get('age',5))
    print('주소 :', kwargs.get('address','우물'))

In [57]:
func5(name='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동

In [58]:
func5()

{}
<class 'dict'>
이름 : 개구리
나이 : 5
주소 : 우물

## 3.5 함수정의시 매개변수 순서
- 순서인수 => 튜플매개변수(*) => 키워드인수(매개변수이름반드시명시) => 딕셔너리매개변수(**)

In [59]:
def func6(a, b, *c, **d):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리 인수 d ', d)

In [60]:
func6(10,20,1,2,3,4,5,6,7,8,9, name = '개구리', age = 5, address = '우물')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d  {'name': '개구리', 'age': 5, 'address': '우물'}

In [61]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e :', e)

In [62]:
func7(10,20,1,2,3,4, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

In [63]:
func7(10,20,1,2,3,4,'딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, '딴거')
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임 (튜플매개변수)

In [66]:
def add(*args):
    tot = 0
    for num in args:
        tot += num
    return tot

In [67]:
add(1,2,3,4)

10

In [69]:
numbers = (1,2,3,4)
add(*numbers) # 언패킹

10

In [70]:
numbers = [1,2,3,4]
add(*numbers) # 언패킹

10

### 딕셔너리인수 언패킹
- 딕셔너리 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙임

In [77]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [78]:
func5(name = '홍길동', gae = 30, address = '신림')

<class 'dict'>
name:홍길동
gae:30
address:신림

In [79]:
customInfo = {'name':'홍길동','age':'30','address':'서울시 강남구','score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [80]:
def add(a,b):
    return a+b
add(3,4)

7

In [82]:
add2 = lambda a, b : a+b
add2(4,5)

9

In [83]:
type(add), type(add2)

(function, function)

In [84]:
(lambda a, b : a+b)(1,2)

3

In [91]:
#ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
ex1 = lambda num : '홀수' if num%2 else '짝수'
ex1(1), ex1(2)

('홀수', '짝수')

In [117]:
#ex2. 두 매개변수의 차이를 return
ex2 = lambda num1,num2 : max(num1,num2)-min(num1,num2) if num1!=num2 else 0
ex2(10,5), ex2(5,10), ex2(5,5)

(5, 5, 0)

In [110]:
#ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda numbers : numbers if numbers>=0 else'negative'
ex3(5000),ex3(-2500),ex3(0)

(5000, 'negative', 0)

In [103]:
#ex4. 점수를 입력받아 점수가 80점 이상은 A팀, 60점 이상은 B팀, 60점 미만은 재시험 그 외는 유효하지 않음
ex4 = lambda score :'A팀' if 100>=score>=80 else \
                    'B팀'if 80>score>=60 else \
                    '재시험'if 60>score else\
                    '유효하지 않음'
ex4(91),ex4(74),ex4(55),ex4(198)

('A팀', 'B팀', '재시험', '유효하지 않음')

In [ ]:
#ex5. safe_index를 람다식으로 
def safe_index(vector, data):
    if data in vector:
        return vector.index(data)
    else:
        return -1

In [118]:
ex5 = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)
ex5(tup, 4), ex5(tup, 2)

(-1, 1)

## 4.2 함수의 매개변수에 람다식 사용

### (1) map

In [86]:
def map_template(func, L=[]):
    '''
    L의 모든요소를 func()함수를 적용시켜 return
    [func(1) for in L]
    '''
    result = []
    for l in L:
        result.append(func(l))
    return result
#     result = [func(1) for l in L]

In [87]:
# 리스트 데이터를 가공 방법 1. map_template
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
map_template(lambda x : x*2, list_data)
# def x_2(x):
#     return x*2
# map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [88]:
# 리스트 테이터를 가공 방법 1. map
list_data = [1,2,3,4,5,6,7,8,9,10]
map_template(lambda x : x*2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [89]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션
[l*2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [90]:
# 리스트 데이터를 가공 방법 3. map(): 파이썬 내장함수
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [91]:
for item in map(lambda x : x*2, list_data):
    print(item, end=' ')

2 4 6 8 10 12 14 16 18 20

In [92]:
'''
예1. [5000,800,1000,6000]로 바꾸시오
'''
prices = ['5,000','800','1000','6,000']

In [93]:
def func(x):
    return(x.replace(',',''))
func('5,000')

'5000'

In [94]:
list(map(lambda x : int(x.replace(',','')), prices))

[5000, 800, 1000, 6000]

In [95]:
'''
예2. member1 = [{'name':'홍길동','birth':'2000-01-03'},
                {'name':'신길자','birth':'1989-06-08'}]
     member1 = [{'name':'홍길동','year':2000,'month':1, 'day':3},
                {'name':'신길자','year':1989,'month':6, 'day':8}]를 바꿉니다
'''

"\n예2. member1 = [{'name':'홍길동','birth':'2000-01-03'},\n                {'name':'신길자','birth':'1989-06-08'}]\n     member1 = [{'name':'홍길동','year':2000,'month':1, 'day':3},\n                {'name':'신길자','year':1989,'month':6, 'day':8}]를 바꿉니다\n"

In [96]:
member1 = [{'name':'홍길동','birth':'2000-01-03'},
         {'name':'신길자','birth':'1989-06-08'}]

In [97]:
# '2000-01-03' => 'year':2000,'month':1, 'day':3
def split_data(data):
    split_data = data.split('-')
#     print(split_data[0], split_data[1], split_data[2])
    return {'year':int(split_data[0]),
            'month':int(split_data[1]),
            'day':int(split_data[2])}

In [98]:
split_data('2000-01-03')

{'year': 2000, 'month': 1, 'day': 3}

In [99]:
def member_func(member): # {'name':'홍길동', 'birth':'2000-01-01'}
    "{'name':'신길동', 'year':1998, 'month':12, 'day':31}식으로 return"
    return {
        'name':member.get('name'),
        'year':int(member['birth'].split('-')[0]),
        'month':int(member['birth'].split('-')[1]),
        'day':int(member['birth'].split('-')[2]),
    }
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 3}

In [100]:
member2 =list(map(lambda member : {
                        'name':member.get('name'),
                        'year':int(member['birth'].split('-')[0]),
                        'month':int(member['birth'].split('-')[1]),
                        'day':int(member['birth'].split('-')[2]),
                        } ,
         member1
        )
    )
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 3},
 {'name': '신길자', 'year': 1989, 'month': 6, 'day': 8}]

In [101]:
'예3. member2를 member1로 바꿉니다'

'예3. member2를 member1로 바꿉니다'

In [102]:
# {'year': 2000, 'month': 1, 'day': 1} => "2000-01-01"를 return하는 함수
def join_date(data):
    # print([data.get('year'), data.get('month'), data.get('day')])
    year = str(data.get('year'))
    month = data.get('month')
    if month < 10:
        month = '0'+str(month)
    else:
        month = str(month)
    day = data.get('day')
    if day < 10:
        day = '0'+str(day)
    else:
        day = str(day)
    return '-'.join([year, month, day])

In [103]:
def join_date(data):
    print("{}-{:02}-{:02}".format(data.get('year'), 
                                  data.get('month'), 
                                  data.get('day')))

In [104]:
def join_date(data):
    print("{year}-{month:02}-{day:02}".format(
                                  year = data.get('year'), 
                                  month=data.get('month'), 
                                  day=data.get('day')))

In [105]:
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)

In [106]:
join_date({'year': 2000, 'month': 1, 'day': 1})

'2000-01-01'

In [107]:
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 3},
 {'name': '신길자', 'year': 1989, 'month': 6, 'day': 8}]

In [108]:
# {'name':'홍길동', 'year':2000, 'month':1, 'day':1}(member2)를 
# {'name':'홍길동', 'birth':'2000-01-01'}으로 가공
list(map(lambda member : {
                        'name' : member.get('name'),
                        'birth': "{year}-{month:02}-{day:02}".format(**member)
                        },
    member2
))

[{'name': '홍길동', 'birth': '2000-01-03'},
 {'name': '신길자', 'birth': '1989-06-08'}]

### (2) filter
- map    : [1,2,3,4,5] => [2,3,4,5,10] (벡터의 모든 데이터를 가공)
- filter : [1,2,3,4,5] => [2,4] (원하는 정보를 추출)
* cf. 리스트 컴프리헨션

In [79]:
#
def filter_template(func, L=[]):
    result = []
    for l in L:
        if func(l):
            result.append(l)
    return result

In [80]:
def evenChk(value):
    return value%2==0
evenChk(10)

True

In [81]:
list_data = [1,2,3,4,5]
filter_template(lambda value : value%2==0, list_data)

[2, 4]

In [82]:
list(filter(lambda value : value%2==0, list_data))

[2, 4]

In [83]:
[data for data in list_data if data%2==0]

[2, 4]

### (3) sort

In [109]:
p = [9, 2, 7]
p.sort(reverse=True)
p

[9, 7, 2]

In [112]:
# 무조건 0번쨰 아이템 기준으로 정렬
pairs = [(2, 'tow'),(1, 'one'),(4, 'four'),(3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'tow'), (3, 'three'), (4, 'four')]

In [114]:
# 1번쨰 item 기준으로 정렬 (abc순)
pairs = [(2, 'tow'),(1, 'one'),(4, 'four'),(3, 'three')]
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'tow')]

In [111]:
# 무조건 0번 item기준으로 정렬
number2d = [[9, 9, 9, 9, 9, 9],
            [1, 100],
            [10, 1]]
number2d.sort(reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬
number2d

[[10, 1], [9, 9, 9, 9, 9, 9], [1, 100]]

In [121]:
# 리스트를 매개변수로 받아 합을 return
(lambda item : sum(item))([1,2,3])

6

In [120]:
# 합이 큰 순으로 정렬
number2d.sort(key = lambda item : sum(item), reverse = True)
number2d

[[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]]

In [135]:
students = [{'name':'홍길동','score':'90'},
           {'name':'김길동','score':'80'},
           {'name':'문길동','score':'70'},
           {'score':'100'}]

In [145]:
students.sort(key=lambda x: x.get('name','힣'))
print(students)

[{'name': '김길동', 'score': '80'}, {'name': '문길동', 'score': '70'}, {'name': '홍길동', 'score': '90'}, {'score': '100'}]

In [142]:
students.sort(key=lambda x: int(x.get('score', 0)), reverse=True)
print(students)

[{'score': '100'}, {'name': '홍길동', 'score': '90'}, {'name': '김길동', 'score': '80'}, {'name': '문길동', 'score': '70'}]

In [147]:
# 책제목순 정렬(ㄱ,ㄴ,ㄷ순), 저자순 정렬(ㄱ,ㄴ,ㄷ순), 가격순 오름차순정렬 
books = [
        {'no': 1, 'title':'강남 아파트 인사이트','writer':'오스틀로이드','price':'25,200'},
        {'no': 2, 'title':'단 한 번의 삶','writer':'김영하','price':'18,100'},
        {'no': 3, 'title':'흔한남매19','writer':'백난도','price':'14,200'},
        {'no': 4, 'title':'가격이 잘못','writer':'홍길동','price':'-'},
        {'no': 5, 'title':'가격이 숫자','writer':'신길동','price':900},
        {'no': 6, 'title':'가격이 없음','writer':'김길동'}
]

In [149]:
# 책제목순 정렬(ㄱ,ㄴ,ㄷ순)
books.sort(key = lambda book : book.get('title'))
books

[{'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이 없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀로이드', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매19', 'writer': '백난도', 'price': '14,200'}]

In [152]:
# 저자순 정렬(ㄱ,ㄴ,ㄷ순)
books.sort(key = lambda book : book.get('writer'))
books

[{'no': 6, 'title': '가격이 없음', 'writer': '김길동'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매19', 'writer': '백난도', 'price': '14,200'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀로이드', 'price': '25,200'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'}]

In [172]:
# 가격순 오름차순정렬 
books.sort(key = lambda book : book.get('price','0'))
books

TypeError: '<' not supported between instances of 'int' and 'str'

In [199]:
#'14,000' -> 14000 /'2000'-> 2000 / 800 -> 800 / '-' -> 0
def parse_int(price):
#     print(type(price))
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',',''))
    elif isinstance(price, int):
        return price
    else:
        return 0

In [200]:
parse_int('6,000'),parse_int('6000'),parse_int(6000),parse_int('-')

(6000, 6000, 6000, 0)

In [201]:
# {'no': 6, 'title':'가격이 없음','writer':'김길동'} => 0
# {'no': 3, 'title':'흔한남매19','writer':'백난도','price':'14,200'} => 14200
# {'no': 5, 'title':'가격이 숫자','writer':'신길동','price':900} => 900
def parse_int(book):
    if isinstance(book.get('price'), str) and book.get('price').replace(',','').isdigit():
        return int(book.get('price').replace(',',''))
    elif isinstance(book.get('price'), int):
        return book.get('price')
    else:
        return 0
parse_int(books[0]),parse_int(books[3]),parse_int(books[2]),parse_int(books[5])

(25200, 0, 14200, 0)

In [202]:
copy_books.sort(key = lambda book : int(book.get('price').replace(',','')) \
                if isinstance(book.get('price'), str) and \
                book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0)

In [203]:
copy_books

[{'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 6, 'title': '가격이 없음', 'writer': '김길동'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 3, 'title': '흔한남매19', 'writer': '백난도', 'price': '14,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀로이드', 'price': '25,200'}]

In [204]:
books

[{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀로이드', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매19', 'writer': '백난도', 'price': '14,200'},
 {'no': 4, 'title': '가격이 잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이 숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이 없음', 'writer': '김길동'}]

In [205]:
books = [
        {'no': 1, 'title':'강남 아파트 인사이트','writer':'오스틀로이드','price':'25,200'},
        {'no': 2, 'title':'단 한 번의 삶','writer':'김영하','price':'18,100'},
        {'no': 3, 'title':'흔한남매19','writer':'백난도','price':'14,200'},
        {'no': 4, 'title':'가격이 잘못','writer':'홍길동','price':'-'},
        {'no': 5, 'title':'가격이 숫자','writer':'신길동','price':900},
        {'no': 6, 'title':'가격이 없음','writer':'김길동'}
]
copy_books = books.copy()

## 4.3 return문에 람다식 이용

In [206]:
# 함수를 리턴
def make_box(shape): # shape : [l] => len가 l인 list를 생성하는 함수 return,
                     #        : [r,c] => r행 c열인 2차원 list를 생성하는 함수 return
    def box(init_value):
        if len(shape)==1:
            return [init_value]*shape[0]
        elif len(shape)==2:
            return [ [init_value]*shape[1] ] * shape[0]
    return box

In [210]:
def make_box(shape):
    if len(shape)==1:
        return lambda init_value : [init_value]*shape[0]
    elif len(shape)==2:
        return lambda init_value : [[init_value]*shape[1] * shape[0]]

In [208]:
line_func = make_box([2,3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

In [209]:
line_func1 = make_box([10])
line_func1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

# 5절. 파이썬 내장함수
- import 하지않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다

In [211]:
globals() # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': '\n예1. [5000,800,1000,6000]로 바꾸시오\n',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\ndiv.container{width:86% !important;}\ndiv.cell.code_cell.rendered{width:100%;}\ndiv.CodeMirror {font-family:Consolas; font-size:15pt;}\ndiv.output {font-size:15pt; font-weight:bold;}\ndiv.input {font-family:Consolas; font-size:15pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:12pt;padding:5px;}\ntable.dataframe{font-size:15px;}\n</style>\n"""))',
  "def map_template(func, L=[]):\n    '''\n    L의 모든요소를 func()함수를 적용시켜 return\n    [func(1) for in L]\n    '''\n    result = []\n    for l in L:\n        result.append(func(1))\n    return result\n#     result = [func(1) for l in L]\n    ",
  'list_data = [1,2,3,4,5,6,7,8,9,10]\ndef x_2(x):\n    return x*2\nmap_template(x_2, list_data)',
  "def map_template(func, L=[]):\n    '''\n    L의 모든요소를 func()함수를 적용시켜 return\n    [func(1) for in L]\n    '''\n    result = []\n    for l in L:\n        result.append(func(1))\n    return result\n#     result = [func(1) for l in L]\n    ",
  'list_data = [1,2,3,4,5,6,7,8,9,10]\ndef x_2(x):\n    return x*2\nmap_template(x_2, list_data)',
  'list_data = [1,2,3,4,5,6,7,8,9,10]\nmap_template(lambda x : x*2, list_data)',
  "def map_template(func, L=[]):\n    '''\n    L의 모든요소를 func()함수를 적용시켜 return\n    [func(1) for in L]\n    '''\n    result = []\n    for l in L:\n        result.append(func(l))\n    return result\n#     result = [func(1) for l in L]\n    ",
  'list_data = [1,2,3,4,5,6,7,8,9,10]\ndef x_2(x):\n    return x*2\nmap_template(x_2, list_data)',
  'list_data = [1,2,3,4,5,6,7,8,9,10]\nmap_template(lambda x : x*2, list_data)',
  '# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션\n[l*2 for l in list_data]',
  '# 리스트 데이터를 가공 방법 3. map(): 파이썬 내장함수\nmap(lambda x : x*2, list_data)',
  '# 리스트 데이터를 가공 방법 3. map(): 파이썬 내장함수\nlist(map(lambda x : x*2, list_data))',
  'for item in map(lambda x : x*2, list_data):\n    print(item)',
  "for item in map(lambda x : x*2, list_data):\n    print(item, end=' ')",
  "'''\n예1. [5000,800,1000,6000]로 바꾸시오\n'''\nprices = ['5,000','800','1000','6,000']",
  "'''\n예2. member1 = [{'name':'홍길동','birth':'2000-01-03'},\n                {'name':'신길자','birth':'1989-06-08'}]\n     member1 = [{'name':'홍길동','year':2000,'month':1, 'day':3},\n                {'name':'신길자','year':1989,'month':6, 'day':8}]를 바꿉니다\n'''",
  "'예3. member2를 member1로 바꿉니다'",
  'map(int(),prices)',
  'list(map(int(),prices))',
  'list(map(int,prices))',
  'list(map(int,extract_numbers(prices))',
  'list(map(int,extract_numbers(prices)))',
  "list(map(int,x.replace(',', '')(prices)))",
  "def func(x):\n    return(x.replace(',',''))",
  "def func(x):\n    return(x.replace(',',''))\nfunc('5,000')",
  "def func(x):\n    return(x.replace(',',''))\nfunc('5,000','10000')",
  "def func(*x):\n    return(x.replace(',',''))\nfunc('5,000','10000')",
  "def func(*x):\n    return(x.replace(',',''))\nfunc('5,000')",
  "def func(x):\n    return(x.replace(',',''))\nfunc('5,000')",
  "list(map(lambda x : int(x.replace(',','')), prices))",
  "member1 = [{'name':'홍길동','birth':'2000-01-03'},\n         {'name':'신길자','birth':'1989-06-08'}]",
  "member1 = [{'name':'홍길동','birth':'2000-01-03'},\n         {'name':'신길자','birth':'1989-06-08'}]",
  'split_data(2000-01-03)',
  "split_data('2000-01-03')",
  "# '2000-01-03' => 'year':2000,'month':1, 'day':3\ndef split_data(data):\n    split_data = date.split('-')\n    print(split_data[0], split_data[1], split_data[2])",
  "split_data('2000-01-03')",
  "split_data = [{'name':'홍길동','birth':'2000-01-03'},\n         {'name':'신길자','birth':'1989-06-08'}]",
  "# '2000-01-03' => 'year':2000,'month':1, 'day':3\ndef split_data(data):\n    split_data = date.split('-')\n    print(split_data[0], split_data[1], split_data[2])",
  "split_data('2000-01-03')",
  "split_data = [{'name':'홍길동','birth':'2000-01-03'},\n         {'name':'신길자','birth':'1989-06-08'}]",
  "# '2000-01-03' => 'year':2000,'month':1, 'day':3\ndef split_data(data):\n    split_data = date.split('-')\n    print(split_data[0], split_data[1], split_data[2])",
  "split_data('2000-01-03')",
  "member1 = [{'name':'홍길동','birth':'2000-01-03'},\n         {'name':'신길자','birth':'1989-06-08'}]",
  "# '2000-01-03' => 'year':2000,'month':1, 'day':3\ndef split_data(data):\n    split_data = date.split('-')\n    print(split_data[0], split_data[1], split_data[2])",
  "split_data('2000-01-03')",
  "# '2000-01-03' => 'year':2000,'month':1, 'day':3\ndef split_data(data):\n    split_data = data.split('-')\n    print(split_data[0], split_data[1], split_data[2])",
  "split_data('2000-01-03')",
  "# '2000-01-03' => 'year':2000,'month':1, 'day':3\ndef split_data(data):\n    split_data = data.split('-')\n    print(split_data[0], split_data[1], split_data[2])\n    return {'year':int(split_data[0]),\n            'month':int(split_data[1]),\n            'day':int(split_data[2])}",
  "# '2000-01-03' => 'year':2000,'month':1, 'day':3\ndef split_data(data):\n    split_data = data.split('-')\n#     print(split_data[0], split_data[1], split_data[2])\n    return {'year':int(split_data[0]),\n            'month':int(split_data[1]),\n            'day':int(split_data[2])}",
  "split_data('2000-01-03')",
  "member2 = list(map(\n    lambda m: {\n        'name': m['name'],\n        'year': int(m['birth'].split('-')[0]),\n        'month': int(m['birth'].split('-')[1]),\n        'day': int(m['birth'].split('-')[2])\n    }, member1))\n\nprint(member2)",
  "member2 = list(map(lambda m: {'name': m['name'],\n                                'year': int(m['birth'].split('-')[0]),\n                                    'month': int(m['birth'].split('-')[1]),\n                                        'day': int(m['birth'].split('-')[2])}, member1))\n\nprint(member2)",
  "#챗\nmember2 = list(map(lambda m: {'name': m['name'],\n                                'year': int(m['birth'].split('-')[0]),\n                                  'month': int(m['birth'].split('-')[1]),\n                                   'day': int(m['birth'].split('-')[2])}, member1))\n\nprint(member2)",
  "#챗\nmember2 = list(map(lambda m: {'name': m['name'],\n                                'year': int(m['birth'].split('-')[0]),\n                                  'month': int(m['birth'].split('-')[1]),\n                                   'day': int(m['birth'].split('-')[2])}, member1))\n\nmember2",
  "#챗\nmember2 = list(map(lambda m: {'name': m.get('name'),\n                                'year': int(m['birth'].split('-')[0]),\n                                  'month': int(m['birth'].split('-')[1]),\n                                   'day': int(m['birth'].split('-')[2])}, member1))\n\nmember2",
  "'예3. member2를 member1로 바꿉니다'",
  "# {'year':2000,'month':1, 'day':1} => '2000-01-01'를 retrun하는 함수\ndef join_data(data):\n    print(data)",
  "join_data({'year':2000,'month':1, 'day':1})",
  'def dict_to_date_flexible(d):\n    nums = [int(s) for s in str(d.values()) if s.isdigit()]\n    return f"{nums[0]:04d}-{nums[1]:02d}-{nums[2]:02d}" if len(nums) >= 3 else "0000-00-00"\nprint(member1)',
  '#챗\ndef dict_to_date_flexible(d):\n    nums = [int(s) for s in str(d.values()) if s.isdigit()]\n    return f"{nums[0]:04d}-{nums[1]:02d}-{nums[2]:02d}" if len(nums) >= 3 else "0000-00-00"\nprint(member1)',
  'def join_data(data)\n    return "{year}-{month:02}-{day:02}".format(**data)',
  '#챗\ndates = list(map(\n    lambda m: f"{m.get(\'year\', 0):04d}-{m.get(\'month\', 0):02d}-{m.get(\'day\', 0):02d}",\n    member1\nprint(member1)',
  '#챗\nmember1 = list(map(\n    lambda m: f"{m.get(\'year\', 0):04d}-{m.get(\'month\', 0):02d}-{m.get(\'day\', 0):02d}",\n    member1\nprint(member1)',
  'member1 = [\n    {\'name\': \'홍길동\', \'year\': 2000, \'month\': 1, \'day\': 3},\n    {\'name\': \'신길자\', \'year\': 1989, \'month\': 6, \'day\': 8}\n]\n\ndates = list(map(\n    lambda m: f"{m.get(\'year\', 0):04d}-{m.get(\'month\', 0):02d}-{m.get(\'day\', 0):02d}",\n    member1\n))\n\nprint(dates)',
  '#\ndef lilter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(l)\n    return result',
  'def evenChk(value):\n    return value%2==0\nevenChk(10)',
  'list_data = [1,2,3,4,5]\nfilter_template(lambda value : value%2==0, list_data)',
  'list(filter(lambda value : value%2==0, list_data))',
  'def evenChk(value):\n    return value%2==0\nevenChk(10)',
  'list_data = [1,2,3,4,5]\nfilter_template(lambda value : value%2==0, list_data)',
  '#\ndef pilter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(l)\n    return result',
  'def evenChk(value):\n    return value%2==0\nevenChk(10)',
  'list_data = [1,2,3,4,5]\nfilter_template(lambda value : value%2==0, list_data)',
  'list(filter(lambda value : value%2==0, list_data))',
  '#\ndef pilter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(l)\n    return result',
  'def evenChk(value):\n    return value%2==0\nevenChk(10)',
  'list_data = [1,2,3,4,5]\nfilter_template(lambda value : value%2==0, list_data)',
  'list(filter(lambda value : value%2==0, list_data))',
  '#\ndef filter_template(func, L=[]):\n    result = []\n    for l in L:\n        if func(l):\n            result.append(l)\n    return result',
  'def evenChk(value):\n    return value%2==0\nevenChk(10)',
  'list_data = [1,2,3,4,5]\nfilter_template(lambda value : value%2==0, list_data)',
  'list(filter(lambda value : value%2==0, list_data))',
  '[data for data in list_data if data%2==0]',
  'number2d = [[9,9],[1,100],[10,1]]\nnumber2d.sort()\nnumber2d',
  'def join_date(data):\n    return "{year}-{month:02}-{day:02}".format(**data)',
  "def map_template(func, L=[]):\n    '''\n    L의 모든요소를 func()함수를 적용시켜 return\n    [func(1) for in L]\n    '''\n    result = []\n    for l in L:\n        result.append(func(l))\n    return result\n#     result = [func(1) for l in L]\n    ",
  '# 리스트 데이터를 가공 방법 1. map_template\nlist_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\nmap_template(lambda x : x*2, list_data)\n# def x_2(x):\n#     return x*2\n# map_template(x_2, list_data)',
  '# 리스트 테이터를 가공 방법 1. map\nlist_data = [1,2,3,4,5,6,7,8,9,10]\nmap_template(lambda x : x*2, list_data)',
  '# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션\n[l*2 for l in list_data]',
  '# 리스트 데이터를 가공 방법 3. map(): 파이썬 내장함수\nlist(map(lambda x : x*2, list_data))',
  "for item in map(lambda x : x*2, list_data):\n    print(item, end=' ')",
  "'''\n예1. [5000,800,1000,6000]로 바꾸시오\n'''\nprices = ['5,000','800','1000','6,000']",
  "def func(x):\n    return(x.replace(',',''))\nfunc('5,000')",
  "list(map(lambda x : int(x.replace(',','')), prices))",
  "'''\n예2. member1 = [{'name':'홍길동','birth':'2000-01-03'},\n                {'name':'신길자','birth':'1989-06-08'}]\n     member1 = [{'name':'홍길동','year':2000,'month':1, 'day':3},\n                {'name':'신길자','year':1989,'month':6, 'day':8}]를 바꿉니다\n'''",
  "member1 = [{'name':'홍길동','birth':'2000-01-03'},\n         {'name':'신길자','birth':'1989-06-08'}]",
  "# '2000-01-03' => 'year':2000,'month':1, 'day':3\ndef split_data(data):\n    split_data = data.split('-')\n#     print(split_data[0], split_data[1], split_data[2])\n    return {'year':int(split_data[0]),\n            'month':int(split_data[1]),\n            'day':int(split_data[2])}",
  "split_data('2000-01-03')",
  'def member_func(member): # {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}\n    "{\'name\':\'신길동\', \'year\':1998, \'month\':12, \'day\':31}식으로 return"\n    return {\n        \'name\':member.get(\'name\'),\n        \'year\':int(member[\'birth\'].split(\'-\')[0]),\n        \'month\':int(member[\'birth\'].split(\'-\')[1]),\n        \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  "member2 =list(map(lambda member : {\n                        'name':member.get('name'),\n                        'year':int(member['birth'].split('-')[0]),\n                        'month':int(member['birth'].split('-')[1]),\n                        'day':int(member['birth'].split('-')[2]),\n                        } ,\n         member1\n        )\n    )\nmember2",
  "'예3. member2를 member1로 바꿉니다'",
  '# {\'year\': 2000, \'month\': 1, \'day\': 1} => "2000-01-01"를 return하는 함수\ndef join_date(data):\n    # print([data.get(\'year\'), data.get(\'month\'), data.get(\'day\')])\n    year = str(data.get(\'year\'))\n    month = data.get(\'month\')\n    if month < 10:\n        month = \'0\'+str(month)\n    else:\n        month = str(month)\n    day = data.get(\'day\')\n    if day < 10:\n        day = \'0\'+str(day)\n    else:\n        day = str(day)\n    return \'-\'.join([year, month, day])',
  'def join_date(data):\n    print("{}-{:02}-{:02}".format(data.get(\'year\'), \n                                  data.get(\'month\'), \n                                  data.get(\'day\')))',
  'def join_date(data):\n    print("{year}-{month:02}-{day:02}".format(\n                                  year = data.get(\'year\'), \n                                  month=data.get(\'month\'), \n                                  day=data.get(\'day\')))',
  'def join_date(data):\n    return "{year}-{month:02}-{day:02}".format(**data)',
  "join_date({'year': 2000, 'month': 1, 'day': 1})",
  'member2',
  '# {\'name\':\'홍길동\', \'year\':2000, \'month\':1, \'day\':1}(member2)를 \n# {\'name\':\'홍길동\', \'birth\':\'2000-01-01\'}으로 가공\nlist(map(lambda member : {\n                        \'name\' : member.get(\'name\'),\n                        \'birth\': "{year}-{month:02}-{day:02}".format(**member)\n                        },\n    member2\n))',
  'p = [9, 2, 7]\np.sort(reverse=True)\np',
  '# 0번째 item기준으로 정렬\nnumber2d = [[9,9,9,9,9,9],[1,100],[10,1]]\nnumber2d.sort()\nnumber2d',
  '# 무조건 0번 item기준으로 정렬\nnumber2d = [[9, 9, 9, 9, 9, 9],\n            [1, 100],\n            [10, 1]]\nnumber2d.sort(reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬\nnumber2d',
  "# 무조건 0번쨰 아이템 기준으로 정렬\npairs = [(2, 'tow'),(1, 'one'),(4, 'four'),(3, 'three')]\npairs.sort()\npairs",
  "# 1번쨰 item 기준으로 정렬 (abc순)\npairs = [(2, 'tow'),(1, 'one'),(4, 'four'),(3, 'three')]\npairs.sort(key=lambda pair : pair[1])\npairs",
  "# 1번쨰 item 기준으로 정렬 (abc순)\npairs = [(2, 'tow'),(1, 'one'),(4, 'four'),(3, 'three')]\npairs.sort(key=lambda pair : pair[1])\npairs",
  '# 합이 큰 순으로 정렬\nnumbers2d.srot(key=lambda item : sum(item))',
  '# 합이 큰 순으로 정렬\nnumber2d.srot(key=lambda item : sum(item))',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key=lambda item : sum(item))',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key=lambda item : sum(item))\nnumber2d',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key = lambda item : sum(item))\nnumber2d',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key = lambda item : sum(item), reverse = True)\nnumber2d',
  '# 리스트를 매개변수로 받아 합을 return\n(lambda item : sum(item))([1,2,3])',
  "students = [{'name':'홍길동','score':'90'},\n           {'name':'김길동','score':'80'},\n           {'name':'문길동','score':'70'}]",
  'students.sort()\nstudents',
  'students.sort()\n**students',
  'students.sort()\nprint(students)',
  'students.sort()\nprint(**students)',
  'students.sort()\nprint(*students)',
  'students.sort(key=lambda pair : pair[1])\nstudents',
  'students.sort(key=lambda pai)\nstudents',
  "students.sort(key=lambda x: int(x['score']), reverse=True)\nprint(students)",
  "students.sort(key=lambda x: int(x['name']))\nprint(students)",
  "students.sort(key=lambda x: int(x['score']), reverse=True)\nprint(students)",
  "students.sort(key=lambda x: int(x['name']))\nprint(students)",
  "students.sort(key=lambda x: x['name'])\nprint(students)",
  "students = [{'name':'홍길동','score':'90'},\n           {'name':'김길동','score':'80'},\n           {'name':'문길동','score':'70'},\n           {'score':'100'}]",
  "students.sort(key=lambda x: int(x['score']), reverse=True)\nprint(students)",
  "students.sort(key=lambda x: x['name'])\nprint(students)",
  "students.sort(key=lambda x: x.get('name')\nprint(students)",
  "students.sort(key=lambda x: x.get('name'))\nprint(students)",
  "students.sort(key=lambda x: int(x['score']), reverse=True)\nprint(students)",
  "students.sort(key=lambda x: x.get('name','힣'))\nprint(students)",
  "students.sort(key=lambda x: int(x.get('score', 0)), reverse=True)\nprint(students)",
  "students.sort(key=lambda x: x.get('name','힣'))\nprint(students,'\\n')",
  "students.sort(key=lambda x: x.get('name','힣'))\nprint(students,end='\\n')",
  "students.sort(key=lambda x: x.get('name','힣'))\nprint(students)",
  "# 책제목순 정렬(ㄱ,ㄴ,ㄷ순), 저자순 정렬(ㄱ,ㄴ,ㄷ순), 가격순 오름차순정렬 \nbooks = [{'no': 1, 'title':'강남 아파트 인사이트','writer':'오스틀로이드','price':'25,200'},\n        {'no': 2, 'title':'단 한 번의 삶','writer':'김영하','price':'18,100'},\n        {'no': 3, 'title':'흔한남매19','writer':'백난도','price':'14,200'},\n        {'no': 4, 'title':'가격이 잘못','writer':'홍길동','price':'-'},\n        {'no': 5, 'title':'가격이 숫자','writer':'신길동','price':900},\n        {'no': 6, 'title':'가격이 없음','writer':'김길동'}]",
  "# 책제목순 정렬(ㄱ,ㄴ,ㄷ순), 저자순 정렬(ㄱ,ㄴ,ㄷ순), 가격순 오름차순정렬 \nbooks = [\n        {'no': 1, 'title':'강남 아파트 인사이트','writer':'오스틀로이드','price':'25,200'},\n        {'no': 2, 'title':'단 한 번의 삶','writer':'김영하','price':'18,100'},\n        {'no': 3, 'title':'흔한남매19','writer':'백난도','price':'14,200'},\n        {'no': 4, 'title':'가격이 잘못','writer':'홍길동','price':'-'},\n        {'no': 5, 'title':'가격이 숫자','writer':'신길동','price':900},\n        {'no': 6, 'title':'가격이 없음','writer':'김길동'}\n]",
  'books.sort(key = lambda book : book.get(title))\nbooks',
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "# 저자순 정렬(ㄱ,ㄴ,ㄷ순)\nbooks.sort(key = lambda book : book.get('writer'))",
  "# 저자순 정렬(ㄱ,ㄴ,ㄷ순)\nbooks.sort(key = lambda book : book.get('writer'))",
  "# 저자순 정렬(ㄱ,ㄴ,ㄷ순)\nbooks.sort(key = lambda book : book.get('writer'))\nbooks",
  "# 가격순 오름차순정렬 \nbooks.sort(key = lambda book : book.get('price'))\nbooks",
  "# 가격순 오름차순정렬 \nbooks.sort(key = lambda book : book.get('price',0))\nbooks",
  "# 가격순 오름차순정렬 \nbooks.sort(key = lambda book : book.get('price','0'))\nbooks",
  "#'14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    price(type(price))",
  'parse_int',
  'parse_int(800)',
  "#'14,000' -> 14000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n    print(type(price))",
  'parse_int(800)',
  "parse_int('800')",
  "#'14,000' -> 14000 /'2000'-> 2000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n#     print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',',''))\n    elif isinstance(price, int):\n        return price\n        ",
  "parse_int('800')",
  'parse_int(6000)',
  "parse_int('6,000')",
  "parse_int('6,000'),parse_int('6000'),parse_int(6000)",
  "parse_int('6,000'),parse_int('6000'),parse_int(6000),parse_int('-')",
  "#'14,000' -> 14000 /'2000'-> 2000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n#     print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',',''))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0",
  "parse_int('6,000'),parse_int('6000'),parse_int(6000),parse_int('-')",
  "#'14,000' -> 14000 /'2000'-> 2000 / 800 -> 800 / '-' -> 0\ndef parse_int(price):\n#     print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',',''))\n    elif isinstance(price, int):\n        return price\n    else:\n        return '가격 표시되지 않음'",
  "parse_int('6,000'),parse_int('6000'),parse_int(6000),parse_int('-')",
  "# 가격순 오름차순정렬 \nbooks.sort(key = lambda book : book.get('price','0'))\nbooks",

In [214]:
all([True,True,True,True,False]) # 전부 True인지 여부

False

In [215]:
round(3.5) # 반올림

4

In [219]:
import numpy as np # numpy 모듈을 np라는 이름으로 load
np.round(3.5), np.ceil(3.1), np.floor(3.9) # 반올림, 올림, 내림

(4.0, 4.0, 3.0)

In [220]:
# 1.함수의인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을
# 리턴하는 함수를 작성하세요
def get_max_min(data_list):
    return max(data_list), min(data_list)

get_max_min = lambda data_list : (max(data_list), min(data_list)) 
get_max_min([1,2,3,4,5,6,7])

(7, 1)

In [249]:
# 2.체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 
# 수식에 의해 계산됩니다. 함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘,
# ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요.
# •getBMI(kg, m):
# •BMI지수 = 체중(kg) / 신장(m)의 제곱
# •BMI<18.5 : 마른체형
# •18.5<=BMI<25 : 표준
# •25<=BMI<30 : 비만
# •BMI >=30 : 고도비만
getBMI = lambda kg, m :'마름' if kg/(m**2) < 18.5  else\
                            '표준' if 18.5 <= kg/(m**2) < 25  else\
                            '비만' if 25 <= kg/(m**2) < 30  else\
                            '고도비만' if 30 <= kg/(m**2)  else '입력값이 옳지 않음'
getBMI(120,1.78)

'고도비만'

In [265]:
# 3.직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요
# •리턴값은 면적과 둘레를 return하도록 구현하세요
# •math.sqrt() : 제곱근을 구하는 함수이용 (ex)math.sqrt(25) : 5.0
# •def get_triangle(width, height):
import math
def get_triangle(width, height):
    A = (width*height)/2
    B = math.sqrt(width**2+height**2)+width+height
    return A,B
get_triangle(4,5)

(10.0, 15.403124237432849)

In [273]:
# 4.함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 
# 함수를 작성하세요(시작값과 끝값 포함).
# •def mysum(from, end):
def mysum(fRom, end):
    sum_ = sum(range(fRom,(end+1)))
    return sum_
mysum(1,5)

15

In [299]:
# 5.함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의
# 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
# •예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 
# 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
# •def get_abbrs(lst):

def get_abbrs(lst):
    return [str_[:3] for str_ in lst]

get_abbrs(['Seoul', 'Daegu', 'Kwangju', 'Jeju'])

['Seo', 'Dae', 'Kwa', 'Jej']

In [303]:
get_abbrs_lambda = lambda lst: [data[:3] for data in lst]
get_abbrs_lambda(['Seoul', 'Daegu', 'Kwangju', 'Jeju'])

['Seo', 'Dae', 'Kwa', 'Jej']