In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font size= "5" color="red">ch05 함수</font></b>
- 사용할 코드를 묶어놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는 것) 파이썬사용불가
- 함수 정의
```
def 함수명([매개변수1, 매개변수2,...... 매개변수n])
    명령어1
    명령어2
    명령어n
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [8]:
# 함수 정의
def my_message(x,msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [10]:
# 함수 사용
my_message(3,"개구리")

개구리
개구리
개구리

In [11]:
my_msg = my_message
my_msg(2,'청개구리')

청개구리
청개구리

In [13]:
type(my_message),type(my_msg)

(function, function)

In [19]:
print() #파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)

In [21]:
my_message(2,'황소개구리')

황소개구리
황소개구리

In [22]:
my_message = 5

In [23]:
my_message

5

In [27]:
del my_message
#변수를 삭제해도 함수 사용 불가(파이썬 내장함수가 아니라서)

NameError: name 'my_message' is not defined

In [6]:
# 함수 정의
def my_hello():
    print('hello, Python')
    print('hello, World')
def my_hello(cnt):
    for i in range(cnt):
        print('Hello, Python')

In [8]:
# 함수사용 = 함수호출
my_hello(2)

Hello, Python
Hello, Python

In [9]:
my_hello

In [10]:
__name__

'__main__'

In [11]:
if __name__ =='__main__':
    my_hello(2)

Hello, Python
Hello, Python

In [1]:
import ch05 # ch05모듈을 load

In [3]:
ch05.my_hello(1)

Hello, Python

In [4]:
from ch05 import my_hello # ch05모듈안의 my_hello load

In [5]:
my_hello(2)

Hello, Python
Hello, Python

## 1.2 docstring

In [8]:
def my_function():
    '''
    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift + tab 으로 독스트링을 볼 수 있음)
    '''
    pass

In [ ]:
my_function()

In [10]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift + tab 으로 독스트링을 볼 수 있음)

In [11]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

In [12]:
fibonacci(20)

0 1 1 2 3 5 8 13

## 1.3 지역변수(local var)와 전역변수(global var)

In [16]:
global_var = 100 # 전역변수
def func1():
    print('함수 안 :', global_var)
func1()
print('함수 밖 :', global_var)

함수 안 : 100
함수 밖 : 100

In [18]:
def func2():
    local_var = 200 # 지역변수
    print('함수 안 :', local_var)
func2()
print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [20]:
g_var = 100 # 전역변수
def func3():
    g_var = 200 # 지역변수(변수 선언과 할당)
    print('함수 안 :', g_var)
func3()
print('함수 밖 :', g_var)

함수 안 : 200
함수 밖 : 100

In [28]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4():
    print('함수 안 g_var :', g_var)
#     g_var = 200 # 지역변수
func4()
print('함수 밖 g_var :', g_var)

함수 안 g_var : 100
함수 밖 g_var : 100

In [27]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4():
    global g_var # func4함수내의 g_var는 전역변수를 쓴다
    print('함수 안 g_var :', g_var)
    g_var = 200 # 전역변수
func4()
print('함수 밖 g_var :', g_var)

함수 안 g_var : 100
함수 밖 g_var : 200

## 1.4 값에 의한 호출 
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일 때

In [30]:
foo = 'a' # 전역변수
id(foo)

1916339971888

In [37]:
def func1(f):# 매개변수 f는 지역변수
    print(f, ' id(f) ', id(f))
    f = f*3
    print(f, ' id(f) ', id(f))
func1(foo)

a  id(f)  1916339971888
aaa  id(f)  1916422375344

In [38]:
print(foo)
print(id(foo))

a
1916339971888

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [33]:
L = [1,2,3]
id(L)

1916460276736

In [39]:
def func2(f): #매개변수는 지역변수
    print(f, ' id(f) ', id(f))
    f.append(4)
    print(f, ' id(f) ', id(f))
func2(L)

[1, 2, 3, 4]  id(f)  1916460276736
[1, 2, 3, 4, 4]  id(f)  1916460276736

In [41]:
print(L, ' id(L) ', id(L))

[1, 2, 3, 4, 4]  id(L)  1916460276736

# 2절. 함수의 실행결과를 반환하는 return

In [57]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의피보나치 수열을 출력
    ex. n= 10이면 0 1 1 2 3 5 8을 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행
    
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의피보나치 수열을 리스트로 return
    ex. n= 10이면 [0 1 1 2 3 5 8]을 return    
    '''
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [58]:
x = fibonacci_return(100)
print(x)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [59]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [60]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [65]:
x, y = 5, 10
print(f'함수 실행 전 x = {x}, y = {y}')
x, y = swap(x, y)
print(f'함수 실행 후 x = {x}, y = {y}')

함수 실행 전 x = 5, y = 10
함수 실행 후 x = 10, y = 5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [68]:
def make_url(ip, port=80): # 순서인수 => 기본값을 갖는 매개변수
    return 'http://{}:{}'.format(ip, port)

In [71]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 갖는 매개변수
- 기본 변수가 스칼라 변수일 때 
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [77]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 떄 : arg의 기본값은 함수가 정의 되는 시점의 값
def func2(arg=i):
    print('arg =', arg)

In [78]:
i = 50
func2()

arg = 5

In [1]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터구조)일 떄 : list_의 기본값은 
def func3(data, L = list_):
    'data를 L에 append'
    L.append(data)
    return L

In [2]:
print(func3(10)) # list_가 수정 : [10]

[10]

In [3]:
print(func3(20))

[10, 20]

In [4]:
list_

[10, 20]

In [5]:
def func4(data, L = None):
    if L==None:
        L = []
    L.append(data)
    return L

In [6]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [ ]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않습니다.
def add(a,b):
    return

In [ ]:
add(1,2,3,4,5,6)

In [9]:
# *args : 매개변수들을 하나의 튜플변수 args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
#     print(args)
    result_tot = 0
    for data in args:
        result_tot += data
    return result_tot

In [11]:
print(add(1,2,3))
print(add(1,2,3,4))
print(add(1,2,3,4,5,6,7))
print(add(1,2,3,6))

6
10
28
12

In [13]:
subject = ('Python','Oracle','DL','ML','/') 
'/'.join(subject)

'Python/Oracle/DL/ML//'

In [28]:
def concat(*subject, sep):
    return sep.join(subject)

In [29]:
concat('Python','Oracle','DL','ML',' / ')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [30]:
# 해결책 1 : 매개변수 이름을 지정해서 호출 (잘못만든 함수)
concat('Python','Oracle','DL','ML', sep = ' / ')

'Python / Oracle / DL / ML'

In [31]:
# 해결책 2 : 기본값을 갖는 반드시 갖는 키워드 인수 사용
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [34]:
concat('Python','Oracle','DL','ML', sep = ' / ')

'Python / Oracle / DL / ML'

In [42]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [43]:
concat(' / ','Python','Oracle','DL','ML')

'Python / Oracle / DL / ML'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아가서 가변 키워드 인수 처리

In [56]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print('이름 :', kwargs.get('name','개구리'))
    print('나이 :', kwargs.get('age',5))
    print('주소 :', kwargs.get('address','우물'))

In [57]:
func5(name='홍길동', age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동

In [58]:
func5()

{}
<class 'dict'>
이름 : 개구리
나이 : 5
주소 : 우물

## 3.5 함수정의시 매개변수 순서
- 순서인수 => 튜플매개변수(*) => 키워드인수(매개변수이름반드시명시) => 딕셔너리매개변수(**)

In [59]:
def func6(a, b, *c, **d):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리 인수 d ', d)

In [60]:
func6(10,20,1,2,3,4,5,6,7,8,9, name = '개구리', age = 5, address = '우물')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d  {'name': '개구리', 'age': 5, 'address': '우물'}

In [61]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 e :', e)

In [62]:
func7(10,20,1,2,3,4, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

In [63]:
func7(10,20,1,2,3,4,'딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, '딴거')
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임 (튜플매개변수)

In [66]:
def add(*args):
    tot = 0
    for num in args:
        tot += num
    return tot

In [67]:
add(1,2,3,4)

10

In [69]:
numbers = (1,2,3,4)
add(*numbers) # 언패킹

10

In [70]:
numbers = [1,2,3,4]
add(*numbers) # 언패킹

10

### 딕셔너리인수 언패킹
- 딕셔너리 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙임

In [77]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [78]:
func5(name = '홍길동', gae = 30, address = '신림')

<class 'dict'>
name:홍길동
gae:30
address:신림

In [79]:
customInfo = {'name':'홍길동','age':'30','address':'서울시 강남구','score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 작은 익명함수
## 4.1 람다식 연습

In [80]:
def add(a,b):
    return a+b
add(3,4)

7

In [82]:
add2 = lambda a, b : a+b
add2(4,5)

9

In [83]:
type(add), type(add2)

(function, function)

In [84]:
(lambda a, b : a+b)(1,2)

3

In [91]:
#ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
ex1 = lambda num : '홀수' if num%2 else '짝수'
ex1(1), ex1(2)

('홀수', '짝수')

In [117]:
#ex2. 두 매개변수의 차이를 return
ex2 = lambda num1,num2 : max(num1,num2)-min(num1,num2) if num1!=num2 else 0
ex2(10,5), ex2(5,10), ex2(5,5)

(5, 5, 0)

In [110]:
#ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda numbers : numbers if numbers>=0 else'negative'
ex3(5000),ex3(-2500),ex3(0)

(5000, 'negative', 0)

In [103]:
#ex4. 점수를 입력받아 점수가 80점 이상은 A팀, 60점 이상은 B팀, 60점 미만은 재시험 그 외는 유효하지 않음
ex4 = lambda score :'A팀' if 100>=score>=80 else \
                    'B팀'if 80>score>=60 else \
                    '재시험'if 60>score else\
                    '유효하지 않음'
ex4(91),ex4(74),ex4(55),ex4(198)

('A팀', 'B팀', '재시험', '유효하지 않음')

In [ ]:
#ex5. safe_index를 람다식으로 
def safe_index(vector, data):
    if data in vector:
        return vector.index(data)
    else:
        return -1

In [118]:
ex5 = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)
ex5(tup, 4), ex5(tup, 2)

(-1, 1)