In [1]:
#1번
name = input()
age =  input()
print('${name}님의 나이는 ${age}살입니다.'.format(name, age))

홍길동
23

KeyError: 'name'

In [4]:
#2번
num1 = int(input())
num2 = int(input())
sum_value = num1 + num2
minus_value = num1 - num2
c_value = num1 * num2
d_value = num1 / num2
e_value = num1 % num2
print(sum_value, minus_value, c_value, d_value, e_value)

5
3
8 2 15 1.6666666666666667 2

In [5]:
#3번
text = "Hello World"
text1 = text.split()[0]
text2 = text.split()[1]

print(text2 + " " + text1)

World Hello

In [8]:
x = "abcdef"

print(x[1:6] + x[0])

bcdefa

In [19]:
x = "abcdef"

print(x[::-1])

fedcba

In [41]:
temp = int(input())
F = round((temp * 1.8) + 32, 2)

if (F.is_integer()):
    print(f"{F: .0f}")
else : 
    print(f"{F: .2f}")

30
 86

In [36]:
# SeounSeoul
# Seou n Seoul
text = "Seoul A001 - programming with python"
print(text[:4] + text[-1]+ text.split()[0])
print(text[:4], text[-1], text.split()[0])

SeounSeoul
Seou n Seoul

In [40]:
str_ = "우리 나라 대한 민국"

print(str_.split()[1])

나라